<a href="https://colab.research.google.com/github/Francofus/IMSE441/blob/main/Copy_of_Lab0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lab 0**

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
import pandas as pd
Dam=pd.read_csv('/content/drive/MyDrive/IMSE_441/Dams-2023.csv')
Dam

,Dam_Name,Latitude,Longitude,NID_ID,Primary_Purpose,State,Year_Completed,Dam_Height,Dam_Length,Drainage_Area,Max_Discharge,Max_Storage,Structural_Height,Surface_Area,Volume
0,ELK RIVER DAM,35.2981,-86.0970,TN05101,Flood Control,TN,1952,82.0,"2,943",263,"101,000","101,844",82.0,"3,910","972,400"
1,TREMAINE RESERVOIR,34.7599,-111.2174,AZ00089,Irrigation,AZ,1952,30.0,"1,935",17,"7,647","8,000",30.0,265,"4,063,500"
2,BEALE,39.1083,-121.3366,CA10115,Flood Control,CA,1952,16.0,165,0.85,"2,566",60,18.0,2,"7,100"
3,BLACKWELDER,39.1583,-121.3833,CA10116,Flood Control,CA,1962,14.0,"1,000",6.35,482,330,19.0,35,"34,700"
4,MILLER,39.1699,-121.3966,CA10119,Flood Control,CA,1962,25.0,"1,300",3.44,"1,174",500,26.0,580,"45,200"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74091,MEADOW CREEK,39.8066,-107.5472,CO00695,Recreation,CO,1958,61.0,352,2.94,"1,833","1,389",77.0,55,"66,747"
74092,HEART LAKE NORTH DIKE,39.7749,-107.3200,CO02889,Recreation,CO,1953,18.0,"1,337",5.1,"2,650","5,402",24.0,329,"26,166"
74093,LITTLE HELL'S CANYON,35.0813,-112.4055,AZ00215,"Fire Protection, Stock, Or Small Fish Pond",AZ,1951,30.0,500,53.7,"8,000","1,612",NaN,12,"112,000"
74094,BEAVER PARK,37.5961,-106.6666,CO00763,Recreation,CO,1912,114.0,435,47,"29,000","5,800",114.0,94,NaN
74095,LYNX LAKE,34.5225,-112.3863,AZ00049,Recreation,AZ,1962,70.0,380,18.5,"20,000","2,763",89.2,52.5,"68,700"

In [8]:
Dam['Latitude'].describe()

count    73999.000000
mean        38.535344
std          4.951658
min         13.360500
25%         34.500000
50%         38.986600
75%         41.976600
max         71.266600
Name: Latitude, dtype: float64

In [9]:
Dam['Longitude'].describe()

count    74001.000000
mean       -93.484288
std         11.897321
min       -176.687300
25%        -99.064700
50%        -94.650000
75%        -84.989400
max        -65.672000
Name: Longitude, dtype: float64

In [11]:
Dam['Dam_Height'].describe()

count    68294.000000
mean        28.991127
std         26.139245
min          0.000000
25%         18.000000
50%         25.000000
75%         32.000000
max        770.000000
Name: Dam_Height, dtype: float64